div.h1{
	position: relative;
	right: 115px;
	padding-top: 500px;
	
}

div.h2{
	position: relative;
	left: 100px;
	padding-top: 150px;
}

div.h3{
	position: relative;
	left: 100px;
}

div.h4{
	position: relative;
	right: 100px;
}