<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/xhtml">
<meta http-equiv ="Content-type" content="text/html;charset=utf-8">
<head>
	<meta charset = "utf-8" />
	<title> Let`s get it on now! Select and Make your first pick! Let`s get it on now! 10,9,8,7,6 </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	.bg-1{
		background-image: url('/static/images/test.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	</style>
</head>
<body class = "container bg-1 text-center">
	<h2>
	<form method = "get">
		<div>
			 <a href = {{url_for('create')}}> Proceed to the Demonstrator Fabricator Generator! </a> <br>
		</div>
	</h2>
</body>
</html>

