<!DOCTYPE html>
<html lang = 'en' xmlns = "http://www.w3.org/1999/xhtml">
<head>
	<meta charset = "utf-8"/>
	<title>Generation Commencing...</title>
</head>
<body>	
	<h2>
	<form method = "post">
		<div>
			<label for = "title">Enter the Adjective that will be used to craft this ingenius phrase: </label>
			<input name = "title" id = "answer" type = "text"/>	
		</div>
		<div>
			<button type = "submit">The Preparations are Complete! Commence Final Sequences!</button>
		</div>
	</h2>
</body>

</html>